body>header {
    background: #263347;
}

.label {
  background-color: #afafaf;
}

figure.right {
  float: right;
  margin-left: 1.5em;
}

figure.left {
  float: left;
  margin-right: 1.5em;
}

figure.center {
  text-align: center;
}
